<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<title>作品詳細</title>
<link rel="stylesheet" th:href="@{/css/user/list.css}">
</head>
<body>
  <div layout:fragment="content">
    <div class="header border-bottom">
      <h1 class="h2">作品詳細</h1>
    </div>
    <form id="user-detail-form" method="post" th:action="@{/user/detail}" class="form-signup"
      th:object="${userDetailForm}">
      <input type="hidden" th:field="*{workId}" />
      <table class="table table-striped table-bordered table-hover">
        <tbody>
          <tr>
            <th class="w-25">作品ID</th>
            <td th:text="*{workId}"></td>
          </tr>
          <tr>
            <th>画像URL</th>
            <td th:text="*{imageUrl}"></td>
          </tr>
          <tr>
            <th>完成日</th>
            <td th:text="*{#dates.format(workDate, 'YYYY/MM/dd')}"></td>
          </tr>
          <tr>
            <th>題名</th>
            <td th:text="*{title}"></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td th:text="*{comment}"></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
</body>
</html>