<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<head>
<title>作品詳細</title>
<link rel="stylesheet" th:href="@{/css/user/detail.css}">
</head>
<body>
  <div layout:fragment="content">
    <div class="header border-bottom">
      <h1 class="h2">作品詳細</h1>
    </div>
    <form id="user-detail-form" method="post" th:action="@{/user/detail}" class="form-signup"
      th:object="${userDetailForm}">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img th:src="*{imageUrl}" style="width: 100%;" />
          </div>
          <div class="col-md-6">
            <p th:text="*{#dates.format(workDate, 'YYYY/MM/dd')}"></p>
            <h2 th:text="*{title}"></h2>
            <p th:text="*{comment}"></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</body>
</html>