<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- Mapperとxmlのマッピング -->
<mapper namespace="com.example.repository.UserMapper">

  <!-- マッピング定義(ユーザー) -->
  <resultMap type="com.example.domain.user.model.MUser"
    id="user">
    <id column="user_id" property="userId" />
    <result column="password" property="password" />
    <result column="user_name" property="userName" />
    <result column="birthday" property="birthday" />
    <result column="age" property="age" />
    <result column="gender" property="gender" />
    <result column="role" property="role" />
  </resultMap>

  <!-- ユーザー複数件取得 -->
  <select id="findMany" resultType="MUser">
    select * from m_user
    <where>
      <if test="userId != null">user_id like '%' || #{userId} || '%'</if>
      <if test="userName != null">and user_name like '%' || #{userName} || '%'</if>
    </where>
  </select>

  <!-- ユーザー1件検索 -->
  <select id="findOne" resultMap="user">
    select
    m_user.user_id
    , m_user.user_name
    , m_user.birthday
    , m_user.age
    , m_user.gender
    from m_user
    where m_user.user_id = #{userId}
  </select>
</mapper>